{{ with .TableOfContents }}
  {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
    <button id="btn-toc" class="btn-fab" type="button" aria-controls="toc-drawer" aria-expanded="false">☰ {{ i18n "toc" | default "Table of Contents" }}</button>
    <div id="toc-backdrop" class="toc-backdrop" hidden></div>
    <div id="toc-drawer" class="toc-drawer" hidden>
      <div class="toc-drawer-header">
        <span>{{- i18n "toc" | default "Table of Contents" }}</span>
        <button class="toc-close" type="button" aria-label="Close">×</button>
      </div>
      <div class="toc-drawer-body">
        {{ . }}
      </div>
    </div>
  {{ end }}
{{ end }}
